
.navbar-brand {
            font-size: 1.8rem;
            font-weight: bold;
            text-decoration: none;
            background: linear-gradient(45deg, #ff6347, #ffd700);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            transition: transform 0.3s ease; 
        }

        .navbar-brand:hover {
            transform: scale(1.1);
        }
i {
  cursor: pointer;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

/* Sidebar Navigation */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background-color: #219525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 60px;
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar .nav-link {
  color: white;
  font-size: 18px;
  padding: 15px 20px;
  text-decoration: none;
  width: 100%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.sidebar .nav-link:hover {
  background-color: #388E3C;
}

/* Open/Close Buttons */
.menu-btn, .close-btn {
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  color: #4CAF50;
  cursor: pointer;
}

.menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
}

.close-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
}
